/* Write your CSS here */
.app-item {
  display: flex;
  flex-direction: column;

  align-items: center;
  flex-wrap: wrap;
  background-color: #ffffff;
  border-radius: 12px;
  width: 46%;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  padding-top: 16px;
  max-width: 120px;
}
.app-image {
  width: 70px;
  height: 70px;
}
